* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 700px;
    margin: 10px auto;
    text-align: center;
    border: 5px solid hsl(19, 100%, 50%);
    font-size: 18px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    padding: 25px;
    background-color: hsla(32, 100%, 50%, 0.966);
    color: white;
    border-bottom: 5px solid hsl(19, 100%, 50%);
}

img {
    margin-bottom: 20px;
    border: 5px solid hsl(44, 100%, 50%);
}

p {
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 8px;
}

ul li:first-child {
    margin-top: 10px;
}

ol {
    padding: 0 40px;
    text-align: left;
}

ol li {
    margin-bottom: 8px;
}

ol li:first-child {
    margin-top: 10px;
}

a {
    text-decoration: none;
    background-color: rgb(238, 114, 12);
    color: white;
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    margin: 20px 0;
}