* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: hsla(340, 96%, 44%, 0.925);
}

ul {
    list-style: none;
    text-align: center;
    font-size: 25px;
}

li a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}